.volume {
	height: 100%;

	position: relative;
}

.button {
	height: 100%;
	font-size: 30px;

	color: #787575;
	background-color: inherit;
	cursor: pointer;
	transition: color 0.3s ease;

	&:hover {
		color: #dcdcdc;

		+ .volumeContainer {
			visibility: visible;
			.inputContainer {
				opacity: 1;
			}
		}
	}
}

.volumeContainer {
	height: 230px;
	visibility: hidden;
	display: flex;
	align-items: start;
	justify-content: center;
	position: absolute;
	top: -230px;
	left: 0;
	transition: visibility 0.3s ease;

	&:hover {
		visibility: visible;
		.inputContainer {
			opacity: 1;
		}
	}

	input {
		width: 150px !important;
		transform: rotate(-90deg);
	}
}

.inputContainer {
	width: 50px;
	height: 200px;
	background-color: #222222;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 15px;
	transition: opacity 0.3s ease;
	opacity: 0;
	position: relative;

	@media (max-width: 1250px) {
		left: -10px;
	}

	@media (max-width: 992px) {
		left: -15px;
	}

	@media (max-width: 576px) {
		left: -10px;
		width: 40px;
	}
}

.percent {
	position: absolute;
	top: 6px;
	width: 100%;
	display: flex;
	justify-content: center;
	user-select: none;
	font-size: 18px;

	@media (max-width: 768px) {
		top: 7px;
		font-size: 16px;
	}
}
