.wrapper {
	display: flex;
	justify-content: space-between;
	height: 100%;
}

.controls {
	height: 100%;
	display: flex;
	justify-content: space-between;
}

.buttons {
	height: 100%;
	margin-right: 75px;
}

button {
	height: 100%;
	font-size: 30px;
	color: #787575;
	background-color: inherit;
	cursor: pointer;
	transition: color 0.3s ease;
	margin-left: 15px;

	&:hover {
		color: #dcdcdc;
	}
}

.volume {
	height: 100%;
	width: 200px;
	position: relative;

	button {
		transform: rotate(90deg);
	}

	input {
		width: 150px !important;
	}

	&:hover {
		.inputContainer {
			opacity: 1;
		}
	}
}

.volumeContainer {
	width: 300px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	transform: rotate(-90deg);
	position: absolute;
	top: -110px;
	left: -100px;
}

.inputContainer {
	width: 200px;
	height: 50px;
	background-color: #222222;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 15px;
	transition: opacity 0.3s ease;
	opacity: 0;
}
