.layout {
	display: grid;
	width: 100%;
	min-height: 100vh;
	grid-template-areas:
		'h h h'
		'm m a'
		'm m a'
		'f f a';
	grid-template-rows: 100px 1fr 1fr 180px;
	grid-template-columns: 1fr 1fr 1fr;

	header {
		grid-area: h;
		background-color: rgba(24, 24, 24, 255);
		border-bottom: 1px solid rgba(36, 36, 36, 255);
	}

	main {
		grid-area: m;
		background-color: rgba(24, 24, 24, 255);
		border-bottom: 1px solid rgba(36, 36, 36, 255);
		border-right: 1px solid rgba(36, 36, 36, 255);
	}

	aside {
		grid-area: a;
		background-color: rgba(24, 24, 24, 255);
	}

	footer {
		grid-area: f;
		background-color: rgba(24, 24, 24, 255);
		border-right: 1px solid rgba(36, 36, 36, 255);
	}

	@media (max-width: 1400px) {
		grid-template-columns: 2fr 2fr 1fr;
		grid-template-rows: 100px 1fr 1fr 160px;
	}

	@media (max-width: 992px) {
		grid-template-areas:
			'h h h'
			'm m m'
			'm m m'
			'f f f';

		aside {
			display: none;
		}
	}
}
