.items {
	padding: 15px 25px;

	@media (max-width: 768px) {
		padding: 10px 20px;
	}

	@media (max-width: 576px) {
		padding: 5px 10px;
	}
}

.buttons {
	display: flex;
	border-bottom: 1px solid rgba(36, 36, 36, 255);
	line-height: 30px;
	margin-bottom: 30px;

	@media (max-width: 768px) {
		margin-bottom: 20px;
	}

	@media (max-width: 576px) {
		margin-bottom: 10px;
	}
}

.button {
	font-size: 20px;
	margin-right: 25px;
	cursor: pointer;
	transition: color 0.3s ease;

	&:hover {
		color: #d5ac05;
	}

	&.active {
		border-bottom: 5px solid #d5ac05;
	}

	@media (max-width: 768px) {
		font-size: 16px;
	}

	@media (max-width: 576px) {
		font-size: 14px;
	}
}

.info {
	display: flex;
	justify-content: space-between;
	color: #777;
	margin-bottom: 10px;
	padding: 0 10px 0 0;

	@media (max-width: 576px) {
		font-size: 12px;
		margin-bottom: 5px;
		padding: 0;
	}

	@media (max-width: 420px) {
		font-size: 10px;
	}
}

.id {
	flex: 0 0 40px;
	overflow: hidden;
	width: 40px;
	min-height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 10px;

	@media (max-width: 576px) {
		flex: 0 0 30px;
		height: 25px;
		width: 25px;
		margin-right: 5px;
	}
}

.name {
	flex: 1 1 25%;
	overflow: hidden;
	display: flex;
	align-items: center;
}

.arrow {
	margin-left: 15px;
	cursor: pointer;
	transition: color 0.3s ease;

	&:hover,
	&.active {
		color: #d5ac05;
	}
}

.author {
	flex: 0 1 50%;
	overflow: hidden;
	display: flex;
	align-items: center;
}

.error {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 50px;
	color: red;
	font-size: 30px;
}
