.banner {
	width: 250px;
	height: 250px;
	margin: 0px auto 50px;
	padding: 10px;

	img {
		width: 100%;
		user-select: none;
	}

	&:hover {
		outline: 3px solid #d5ac05;
	}

	@media (max-width: 1400px) {
		width: 200px;
		height: 200px;
		margin: 0px auto 25px;
	}
}
