.wrapper {
	flex: 0 1 25%;
	height: 40px;
	position: relative;

	@media (max-width: 992px) {
		grid-area: i;
	}

	@media (max-width: 576px) {
		height: 30px;
	}
}

.btn {
	font-size: 26px;
	cursor: pointer;
	transition: color 0.3s ease;
	position: absolute;
	top: 7px;
	left: 5px;

	&:hover {
		color: #d5ac05;
	}

	@media (max-width: 576px) {
		font-size: 20px;
		top: 5px;
	}
}

.search {
	height: 40px;
	background-color: rgba(24, 24, 24, 255);
	outline: 1px solid #777;
	padding: 5px 10px 5px 40px;
	width: 100%;
	font-size: 16px;
	color: #fff;

	&:focus {
		outline: 1px solid #777;
	}

	@media (max-width: 992px) {
		visibility: visible !important;
	}

	@media (max-width: 576px) {
		font-size: 14px;
		height: 30px;
		padding-left: 30px;
	}
}
