.player {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 72px;
	transform: translateY(74px);
	background-color: rgba(24, 24, 24, 0.9);

	&_enter_done {
		transform: translateY(0px);
		transition: transform 0.2s ease-in-out;
	}
	&_exit {
		transform: translateY(0px);
	}
	&_exit_active {
		transform: translateY(74px);
		transition: transform 0.4s ease-in-out;
	}
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(36, 36, 36, 255);
	z-index: 105;
	overflow: auto;

	&_enter {
		opacity: 0;
	}

	&_enter_active {
		opacity: 1;
		transition: opacity 200ms ease-in-out;
	}

	&_exit_active {
		opacity: 1;
	}

	&_exit {
		opacity: 0;
		transition: opacity 200ms ease-in-out;
	}
}
