.logo {
	display: inline-block;
	font-size: 28px;
	font-weight: 600;
	cursor: pointer;
	transition: color 0.3s ease;
	text-align: center;
	flex: 0 0 200px;

	&:hover {
		color: #d5ac05;
	}

	@media (max-width: 992px) {
		grid-area: l;
		text-align: left;
	}

	@media (max-width: 576px) {
		font-size: 24px;
	}
}
